body{
	margin: 0;
	padding: 0;
}
#content {
	overflow:scroll;
	height:450px;
	width:550px;
	margin: 0 auto;
}
table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;  
	text-align: left;   
	border-collapse: collapse;
}
th{
	background-color: #04AA6D;
	color: white;
	position: relative;

}
th,td{
	height: 70px;
	border-bottom: 1px solid #ddd;
}
.input-class{
	border-radius: 4px;
	 background-color: #def;
	 border: 0;
	 outline: none;
	 padding: 20px;
	display: block;
	margin: 0 auto;
	 margin-bottom:5px;
}

#add{
	background-color: #04AA6D; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    border-radius: 8px;
    margin: 0 45%;
}


header{
	text-align: center;
	font-size: 30px;
	width:100%; 
	overflow:hidden; 
	background:#04AA6D;
	margin-bottom:20px;
	color: white;

}